/* Подключение шрифтов */

@font-face {
    font-family: "Montserrat-ExtraBold";
    font-display: swap;
    src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    font-display: swap;
    src: url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Обнуление 
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    min-width: 320px;
}

body {
    font-family: "OpenSans-Regular";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "OpenSans-Regular";
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a,
a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

 Настройки 
body {
    position: relative;
    color: #000;
    font-size: 14px;
}

    body.lock {
        overflow: hidden;
    }

.container {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}*/

/* Стили */

header {
    padding: 100px 0 40px 0;
}

    header a {
        font-family: "Montserrat-ExtraBold";
        font-size: 44px;
        text-transform: uppercase;
        color: #325082;
        margin-bottom: 20px;
    }

    header p {
        font-family: "OpenSans-Regular";
        font-size: 24px;
        margin: 0;
    }

main {
    padding: 40px 0;
}

.main-content {
}

    .main-content h2 {
        font-family: "Montserrat-ExtraBold";
        font-size: 24px;
        text-transform: uppercase;
        color: #b62a8f;
        margin-bottom: 20px;
    }

    .main-content form .btn {
        font-family: "OpenSans-Regular";
        background-color: #325082;
        border: none;
        border-radius: 0%;
    }

        /*.main-content form .btn:active, .main-content form .btn:focus {
            outline: 2px solid #b62a8f !important;
            border-style: none;
        }*/

.result-formula {
    width: 170px;
}

.table-result-graphic-data {
    max-width: fit-content;
}


footer {
    font-family: "OpenSans-Regular";
}

